@import "variables.scss";
* {
  // outline: 2px solid red;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background: $dark;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
h1 {
  font-size: 120px;
}
h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

// ----- common -----
.primary-btn {
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  padding: 20px 40px;
  width: max-content;
}

.logo {
  width: 245px;
  height: 40px;
}
// ----- common -----

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  padding: 20px 0;
  margin-bottom: 40px;

  .menu {
    ul {
      display: flex;
      list-style-type: none;
      li:last-child {
        margin-left: 20px;
      }
      a {
        font-weight: 700;
        color: #FFFFFF;
      }
    }
  }
}

.banner {
  margin-bottom: 160px;
  h1 {
    font-weight: 900;
    font-size: 120px;
    line-height: 120%;
    margin-bottom: 40px;
    color: white;
  }
}

.service {
  color: white;
  .service-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    h2 {
      font-size: 32px;
      font-weight: 900;
      line-height: 120%;
      max-width: 414px;
    }
    h3 {
      font-size: 48px;
      font-weight: 900;
      line-height: 120%;
      max-width: 856px;
    }
  }
  .service-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    .service-list-card {
      box-sizing: border-box;
      border: 1px solid #525252;
      border-radius: 16px;
      padding: 40px;
      max-width: 416px;
      height: 336px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12px;
      img {
        width: 80px;
        margin-bottom: 20px;
      }
      h4 {
        font-weight: 900;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 20px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}

.partner {
  color: white;
  margin-bottom: 160px;
  h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 80px;
  }

  .partner-list {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 160px;
    }
  }
  .partner-list::before,
  .partner-list::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 17%;
    z-index: 1;
  }

  .partner-list::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
  }

  .partner-list::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
  }
}

.recommend {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  .recommend-card {
    padding: 40px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
    border-radius: 16px;
    box-sizing: border-box;
    max-width: 416px;
    width: 100%;
    height: 400px;
    // margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .recommend-icon {
      margin-bottom: 22px;
    }
    p {
      font-weight: 400;
      line-height: 150%;
      color: $dark-20;
    }

    .recommend-detail {
      display: flex;
      align-items: center;
      img {
        margin-right: 16px;
      }
      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}

.tools {
  text-align: center;
  background: white;
  border-radius: 160px;
  margin-bottom: 80px;

  h2 {
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    color: #020202;
    margin-bottom: 80px;
  }
  p, span {
    font-weight: 400;
    line-height: 150%;
  }

  .tools-list {
    display: flex;

    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        box-sizing: border-box;
        list-style-type: none;
        border: 1px solid #F2F2F2;
        border-radius: 16px;
        max-width: 416px;
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
  .tools-list-card-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      transition: transform .28s ease-in-out 0s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .tools-list-card-text {
    display: flex;
    flex-direction: column;
    .tools-list-card-title {
      border-bottom: 1px solid #F2F2F2;
      padding: 20px 32px;
      text-align: left;
      word-break: break-all;
      h3 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 12px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #525252;
      }
    }
    .tools-list-card-desc-ai {
      padding: 20px 32px;
      border-bottom: 1px solid #F2F2F2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 700;
      }
    }
    .tools-list-card-desc-tag {
      padding: 20px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: #020202;
        span {
          font-size: 18px;
        }
      }
    }
  }
}

.callToAction {
  text-align: center;
  padding: 80px;
  margin-bottom: 80px;
  h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
}

.footer {
  color: #FFFFFF;
  .sitemap {
    border-top: 1px solid #FFFFFF;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    li {
      font-weight: 900;
      font-size: 80px;
      line-height: 120%;

      &:last-child {
        margin-top: 8px;
      }
    }
  }
  .footer-menu {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    border-top: 1px solid #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0;
    .copyright {
      margin-right: 100px;
    }
    .social {
      ul {
        display: flex;
      }
      li {
        margin-right: 20px;
      }
      margin-right: auto;
    }
    .top {
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: 768px) {
      .copyright,
      .top {
        margin-right: 0;
        width: 50%;
      }

      .social {
        width: 100%;
        order: 3;
      }
    }
  }
}