$primary   : #F18724;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #020202;
$dark-80   : #525252;
$dark-60   : #919191;
$dark-40   : #D1D1D1;
$dark-20   : #F2F2F2;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
